[2013-05-11 13:57] tusharmath opened #1 "Default file name is not proper"
The default file name should be created from the download url and should be decode.

[2013-05-11 13:58] tusharmath opened #2 "Set timeout for downloads"
In case no data a received for some period of time the download should restart.

[2013-05-11 14:02] #2 closed, assigned to nobody

[2013-05-11 14:04] #1 closed, assigned to tusharmath

[2013-05-11 14:07] tusharmath opened #3 "Download logger should have an extension .mtd.js"
The log file which contains the thread info should have an extension - .mtd.json

[2013-05-11 14:07] #3 closed, assigned to nobody

[2013-05-11 14:24] tusharmath opened #4 "Update name of ndOptions to config.js"
Rename the file to config.js

[2013-05-11 14:26] tusharmath opened #5 "Readme.md should contain all the information about the application"
The web page should be generated from the readme.md

[2013-05-11 14:30] #5 closed, assigned to nobody

[2013-05-11 14:50] tusharmath opened #6 "User should be able to download a range of data"
User should be able to download say 30-75 % of the file only.

[2013-05-11 15:24] tusharmath opened #7 "Create two version of the config file default and users"
The user should be able to have the option of creating its own version of the config file

[2013-05-11 15:46] tusharmath opened #8 "If the default file name has spaces the download crashes"
The default file name contains spaces sometime. Something needs to be done so that we can still have the spaces in the filename and download

[2013-05-11 17:19] tusharmath opened #9 "Update Readme.md with updates about the two version of configs"
The readme file must be updated with info about the 2 versions of configs.

[2013-05-11 17:39] tusharmath opened #10 "update command line with --config option"
The command line should be updated with the config option

[2013-05-11 17:56] #7 closed, assigned to nobody

[2013-05-11 17:56] #9 closed, assigned to nobody

[2013-05-11 17:56] #10 closed, assigned to nobody

[2013-05-11 17:57] #4 closed, assigned to nobody

[2013-05-11 18:23] #8 closed, assigned to nobody

[2013-05-12 08:25] tusharmath opened #11 "Wordwrap error from optimist"
Word wrap is not installed from npm and thus optimist throws an error.

[2013-05-12 08:40] #11 closed, assigned to nobody

[2013-05-13 16:27] tusharmath opened #12 "Improvise downloading performance in a serial order"
Idea: Create 3-4 threads from 0-endoffile. Which ever thread returns the response first should update the file

[2013-05-14 04:02] tusharmath opened #13 "The software should timeout when data is not downloaded for some time."
Sometimes not data is received from the server side. The app should timeout in that case and restart the download.

[2013-05-14 04:03] tusharmath opened #14 "Create user interface for the application"
UI is important. People dont like command line

[2013-05-18 09:52] tusharmath opened #15 "Create unit tests with 100% coverage"
Create unit tests for al the modules

[2013-05-18 09:57] tusharmath opened #16 "Add unit test framework"
Decided to use mocha with shouldjs

[2013-05-18 13:01] tusharmath opened #17 "Create Downloader unit test"
downloader.should.have.property('onPacketReceived');
        downloader.should.have.property('onDownloadStarted');
        downloader.should.have.property('onDownloadComplete');

[2013-07-02 14:37] #17 closed, assigned to nobody

[2013-07-02 14:39] #6 closed, assigned to nobody

[2013-07-02 14:39] #12 closed, assigned to nobody

[2013-07-02 14:39] #13 closed, assigned to nobody

[2013-07-02 14:39] #16 closed, assigned to nobody

[2013-07-02 14:40] tusharmath opened #18 "resume download crashes in case a mtd file does not exist"
Throw an exception in case there is no mtd file on which a resume action is performedd

[2013-07-02 14:42] tusharmath opened #19 "Provide meaning full error message"
The error messages should be returned as an argument to the callback.

[2013-07-16 17:22] tusharmath opened #20 "Add download stop action"
The lib should have an option of stopping the download

[2013-07-18 15:41] #19 closed, assigned to nobody

[2013-07-18 15:45] tusharmath opened #21 "Timeout"
Sometimes the the download connections don't end but at the same time supply no data. The observation is that if we stop and restart the download then the download starts again.

If we do nothing about it we keep waiting a download takes more time.

[2013-07-18 15:52] tusharmath opened #22 "Ability to restart downloads on its own"
In case of some error the app should immediately stop all the tasks and should try to restart. This functionality should be controlled by an option.

[2013-07-18 19:13] tusharmath opened #23 "Not able to download files that require cookies"
Some requests require cookies. Something needs to be done so that cookies also be supplied with the request. This should also incorporate downloading files that need authentication.

[2013-07-29 12:34] #18 closed, assigned to nobody

[2013-07-29 12:34] #21 closed, assigned to nobody

[2013-07-29 12:37] tusharmath opened #24 "Save header also in the file"
The download file should also save the headers. Sometimes fields like content-disposition might be used later after the file is downloaded completely.

[2013-07-30 17:59] #14 closed, assigned to nobody

[2013-07-30 17:59] #15 closed, assigned to nobody

[2013-07-30 18:09] #24 closed, assigned to nobody

[2013-08-01 14:00] tusharmath opened #25 "callback already called"
Sometimes the http end is triggered after an http error and which causes the thread download complete callback to be called twice. Async throws an exception in that case.

[2013-08-01 14:02] tusharmath opened #26 "Download completed when all threads complete"
In case **end** is triggered for all the threads the DataRequest module assumes the download has completed and is successful even if the thread positions show that the download has not completed.

[2013-08-01 15:27] #26 closed, assigned to nobody

[2013-08-01 17:49] #25 closed, assigned to nobody

[2013-08-10 17:54] tusharmath opened #27 "Destroy method is called multiple times"
Issue is called when the destroy method is called multiple times. This particular issue happens when you destroy a completed thread on download timeout.

![screen shot 2013-08-10 at 11 22 55 pm](https://f.cloud.github.com/assets/194482/942960/d07e60f2-01e5-11e3-8c6a-db00ebe63fd0.png)

[2013-08-21 12:19] tusharmath opened #28 "https download"
Download files over https

[2013-08-21 12:20] tusharmath opened #29 "Download algorithm needs to be dynamic"
The number of threads  that help download files should be dynamic.

[2015-02-06 20:36] Loksly opened #30 "Package.json"
should be package.json (lowercase),
so it works in linux (at least my version needs to)

[2015-02-25 16:56] krzysztofantczak commented on #23
+1

[2015-02-25 16:58] tusharmath commented on #23
Are you using the cli wrapper or just the lib?

[2015-02-25 17:03] starak commented on #23
+1

[2015-03-05 17:01] leeroybrun commented on #30
+1

[2015-03-07 12:17] #30 closed

[2015-03-10 10:51] leeroybrun opened #33 "Stop a download"
Hi,

Thanks for your module, it's very usefull and working great !

Is there an easy way to stop (cancel) a download ?

[2015-03-11 11:27] tusharmath commented on #33
There is no easy way to do this as of now. The only way you can do it is as follows -

[code]

I hope this helps. I would be glad to merge a pull request which would make it easier.

[2015-03-18 09:11] krzysztofantczak commented on #23
@tusharmath i was planning to use a lib, but no cookies == no use for me.

[2015-03-18 16:01] tusharmath commented on #23
alright wait

[2015-03-18 18:25] #23 closed

[2015-03-18 18:28] #28 closed

[2015-03-23 07:49] leeroybrun commented on #33
It seems quite easy, just what I needed.
Thanks !

[2015-03-23 07:49] #33 closed

[2015-04-27 09:28] nishantcop opened #36 "Download on Windows can't completed after resume"
After resume downloads progress it shows 100% but present with an error :-
"{ [Error: EPERM, ftruncate] errno: -4048, code: 'EPERM' }"

Also, *.mtd file size seems just doubled.

I am using node version 0.12.2
and mtd version 0.0.9
OS: windows 8.1

[2015-04-27 09:31] nishantcop opened #37 "Overall completion information should be available."
Currently it doesn't support to get the current download progress i.e. information like:
How much downloaded, Current download speed, estimated time.

[2015-04-27 09:36] nishantcop opened #38 "Explicit Stop, Pause, Resume and Destroy functionality"
STOP: Current download will be stopped and cleared
PAUSE: Should pause the current going download or downloadTask that is passed as  argument.
RESUME: Should be able to resume specific download task by just providing ID or URL.
DESTROY: handle cleaning up all threaded nicely if it's not done.

[2015-05-08 14:11] tusharmath commented on #36
@nishantcop This is a problem with nodejs  on windows. Can you also try the same with io.js?

[2015-05-11 02:45] martingg88 commented on #36
ya.. i do have this issue. any idea how to solve it?

[2015-05-11 02:46] martingg88 opened #39 "youtube url"
seem like it doesn't download youtube mp4 video. You can try with following link and it doesn't work. any idea? FYI. the following link will work with wget. Maybe we need the --no-check-certificate option?

https://lh3.googleusercontent.com/xTMukQfobC193nsiO3K78vhxoaLyt5trzxOk4V3Wmw=m18

[2015-05-11 04:14] tusharmath opened #40 "Support HTTPS"
This is the most basic feature this module should have. It will solve #39

[2015-05-11 05:50] tusharmath commented on #39
@martingg88 The real problem is that this module doesn't support HTTPS out of the box. It would be great if you could send a pull request for the same or I can make you the collaborater. I am also thinking of re-writing this module from scratch.

[2015-05-11 09:50] martingg88 commented on #39
i'm regret to tell you that i have not idea how to write this module. sorry

[2015-05-24 11:42] martingg88 commented on #39
what about you give me the system flow for this library, so i can try to write to support HTTPS?

[2015-05-24 12:41] tusharmath commented on #39
@martingg88 I have made a lot of changes since your last message. Checkout the [develop branch](https://github.com/tusharmath/Multi-threaded-downloader/blob/develop/index.js).

Its a complete re-write, using a pub-sub approach. Unfortunately all the features have not been implemented. Though this supports HTTPS, it doesn't support stopping of a download or download concurrently, both of which shou

[2015-05-24 13:31] martingg88 commented on #39
what about integrate with this "node-fast-download" and add the level to make it support of multiple thread?

[2015-06-12 04:02] tusharmath commented on #39
@martingg88 I have been really busy man. In between jobs and so I really apologise for ruining the trust you have put in this piece of software. I know you must be really pissed. I will fix this I promise. Give me sometime.

[2015-06-12 05:16] martingg88 commented on #39
don't worry guy. i'm understand your situation. let's take your time.
Many thanks for your effort.

[2015-07-27 07:31] ghost opened #45 "Transfer-Encoding: chunked data can't download"
library checks content-length but chunked data is not included.

[2015-07-27 07:34] tusharmath commented on #45
This would require a completely different approach. How would one know if the download was completed for example?

[2015-07-27 07:55] Phoary commented on #45
when download is completed it goes re-download with ".mtd" extension and file size is 0.

how about checks header first and find if it is Transfer-Encoding : chunked.
Then, request body and check body length.

[2015-07-29 10:02] tusharmath commented on #45
Content-Length would not be available for chunked responses. Body length can not be used because then I would have to save the complete resource in memory which will be expensive.

This would only work if the server supports range headers with chunked data. Though technically its possible, I wonder if its been implemented in any server.

[2015-08-16 09:54] #40 closed

[2015-08-17 16:30] tusharmath commented on #45
You won't be able to start and resume a download, right?

[2015-08-17 16:31] tusharmath commented on #39
This issue is resolved in the develop branch, could you try once again, so that I could close this ticket?

[2015-09-01 11:50] irvingswiftj opened #46 "Option to set max download speed"
Hi,

It would be very nice if there was an option that would allow us to limit the speed of a download.

[2015-09-01 12:06] tusharmath commented on #46
Its not possible, because the server would keep pushing the data and if not used it would keep on filling the buffer untill the overflows.

[2015-09-01 12:06] #46 closed

[2015-09-01 12:10] irvingswiftj commented on #46
Ah, that is a shame. As it is a requirement from my client, I will have to use another module.

[2015-09-15 18:48] #27 closed

[2015-09-22 18:15] Riuujin opened #47 "corrupt download, using electron"
I am trying to use this module in electron to download a file.
However I keep getting the following error:

within the "mt-downloader\lib\core\DownloadWriterAsyncTask.js" write method.

Any idea what this might be or is it just that i am trying to use it with electron?

[2015-09-23 04:04] tusharmath commented on #47
Did you check these links —
Stackoverflow : http://stackoverflow.com/questions/29414803/read-writing-files-in-node-with-fs-via-unc-path

Gihub: https://github.com/nodejs/node-v0.x-archive/issues/8821

[2015-09-23 06:45] #47 closed

[2015-09-23 06:45] #39 closed

[2015-09-23 06:46] tusharmath commented on #39
I was able to download files over https sucessfully. Hence closing the ticket

[2015-09-28 08:39] tusharmath commented on #37
The values can be computed quite easily using the threads object. But I guess basic stuff like completion can still be provided.

[2015-12-01 10:50] xuanhun opened #48 "Does it support 302?"
Does it support 302?

[2015-12-01 10:56] tusharmath commented on #48
No

[2015-12-01 11:06] #48 closed

[2016-01-14 15:24] rtmcached commented on #33
Is it safe to just destroy the threads? I implemented your proposal and sometimes I get a corrupted mtd file, which cannot be resumed.

[2016-01-14 15:41] skarppion101 commented on #33
I think you should send a destroy event to the thread

Sent from Mail.Ru app for iOS

Thursday 14 January 2016 18:24 +0300 from notifications@github.com  <notifications@github.com>:

[2016-01-20 13:23] rtmcached commented on #33
Yes, that's what I do. But my question is if it is safe do to so? Because sometimes I get corrupted mtd file, which can not be resumed...

[2016-01-20 14:22] rtmcached opened #50 "File meta truncating sometimes not working."
Sometimes the downloaded file is 10kb bigger than the file on the server, so I suspect that the meta is not truncated.

[2016-01-20 14:24] rtmcached opened #51 "Stopping a download"
In issue #33 in order to stop a download you propose
[code]
Is it safe to just destroy the threads? I implemented your proposal and sometimes I get a corrupted mtd file, which cannot be resumed.

[2016-01-20 14:33] tusharmath commented on #50
Is there an exception being thrown? Can you provide more details?

Try doing —

[code]

[2016-01-20 14:42] tusharmath commented on #51
@rtmcached It shouldn't be a problem to destroy the threads at all. Killing a http request is a very legitimate operation. This is also done, automatically when a connection remains idle for more than 5 seconds.

[2016-01-20 14:42] #51 closed

[2016-01-20 15:08] rtmcached commented on #50
Nope, no exception, just the file not being truncated.

    curl -i -X HEAD <the url that has the file>
shows the same Content-Length as ls -l file size

I modified TruncateAsyncTask.js to
[code]
and sometimes I get truncating failed (not all the time), but no err.

Probably ftruncate silences or do not see the err...

[2016-01-20 15:14] tusharmath commented on #50
Take a look at #43. I will close this.

[2016-01-20 15:14] #50 closed

[2016-01-21 18:41] rtmcached commented on #51
I am on Lubuntu 14.04 x64 and it seems after implementing #43, the corrupted mtd files no longer appears

[2016-01-30 17:37] #45 closed

[2016-01-31 09:50] tusharmath commented on #48
now you can. The current version `2.0.0` uses [request](https://www.npmjs.com/package/request) where you can pass a param - `{followRedirect: true}`

[2016-02-01 13:04] tusharmath commented on #36
Issue has been fixed in the latest (1.0.0) version

[2016-02-01 13:04] #36 closed

[2016-02-01 13:05] tusharmath commented on #38
Duplicate of #20

[2016-02-01 13:05] #38 closed

[2016-03-10 20:51] continuata opened #63 "can't run the example"
when I execute

[code]
It creates a file called `Gadget_the_pug_expressive_eyes.jpg.mtd` of 0 bytes and doesn't download anything.
It gives the correct INIT event output

[code]

but then does nothing. What am I missing?

[2016-03-11 08:37] tusharmath commented on #63
can you try `  downloader.start().toPromise`?

[2016-03-11 08:38] #63 closed

[2016-03-11 08:56] continuata commented on #63
I did try that, same issue.

In fact I installed mtb and that did the same thing

[2016-03-11 09:14] tusharmath commented on #63
Take a look at the logs here — https://tonicdev.com/tusharmath/56e28b9f1040981100270479

[2016-03-11 09:36] continuata commented on #63
I don't doubt it works generally, but I just can't get it to download on my machine.
I upgraded node to the latest version, but same problem.
I'm on a Mac and wondered if there's some Gatekeeper setting blocking it.

(BTW love the FRP stuff in your code, very rare to see nicely thought through FRP)

[2016-03-11 09:55] continuata commented on #63
I've tried it on a different Macbook and it works great ... but need to figure out why it's not working on mine. Any ideas what I can try, to figure out what's stopping it?

[2016-03-11 10:31] continuata commented on #63
seems I was being stupid, looks like I didn't save the version with `.toPromise()` on it before I tested.
Without the promise, the node thread just returns and exits the app, which was why it wasn't downloading  ... apologies

[2016-03-11 11:53] tusharmath commented on #63
LOL. No probs :)

[2016-03-11 22:46] continuata opened #64 "trying to use mt-donwloader in Electron with ReactJS"
I'm desperately trying to get mt-downloader working with ReactJS in Electron

to start off with there was an issue with json-scheme having an issue with define, causing a crash which I was able to fix with
[code]
in `webpack.config`.

Now the app runs, but when I try to download, it initialises the download and crashes in an `createNodeObservable` method, because the function passed to it is undef

[2016-03-12 04:48] tusharmath commented on #64
Enable source maps for easier debugging and stack trace. Its difficult to
say why you are getting this error. Also could you paste the code for
initiating the download?

On Sat, Mar 12, 2016, 4:16 AM Stu Kennedy <notifications@github.com> wrote:

--
Regards,
Tushar Mathur.
www.tusharm.com

[2016-03-12 07:09] #64 closed

[2016-03-12 09:46] continuata commented on #64
OK so I've found out where it seems to be going wrong.

[code]

`fsOpen` triggers the following callback
[code]
But `fn` is undefined in the callback, so it must be something to do with `fsOpen`

Below is the code for my React Component trying to trigger the download
[code]

Screenshot below
<img width="1680" alt="screen shot 2016-03-12 at 09 45 21" src="https://cloud.githubusercontent.com/assets/

[2016-03-12 14:16] tusharmath commented on #64
Is the code available on github? I could take a look if you'd like. I think webpack is not loading the `fs` module correctly. Take a look at this issue — https://github.com/chentsulin/electron-react-boilerplate/issues/1

[2016-03-12 14:31] continuata commented on #64
Yeah that sounds plausible ... I've uploaded it here for you to take a look at

https://github.com/continuata/electronReact

[2016-03-12 17:02] continuata commented on #64
I've figured it out ... followed this tutorial
http://jlongster.com/Backend-Apps-with-Webpack--Part-I

It now downloads properly ... very happy indeed. :-)

[2016-03-12 21:06] continuata opened #66 "downloading private AWS S3 URLs doesn't work"
If I use an Amazon S3 Private (Signed) URL for downloading, the download progresses as though it is working, data is coming down the connection (I can see in my network inspector), but it isn't being saved to disk, when it's "completed" I end up with a file of 0 bytes.

It seems to have `null` in each of the threads, and also `totalBytes` is always null, when looking at the stats output/

<img wid

[2016-03-12 23:20] continuata commented on #66
Looks like Amazon S3 won't let you see the whole HTTP header on a head request.

In `observables.js` you get the content-length from the header. I think that may be the issue
[code]

[2016-03-13 00:01] continuata commented on #66
ok .. so playing around a bit, I reckon you can fix this by using a `GET` instead of a `HEAD` to get the content-length from the first response (similar to below)
[code]
but I can't figure out how to cancel the download once it's got the length, to allow the actual download to continue. Any ideas?

[2016-03-13 07:12] tusharmath commented on #66
What are the HTTP headers that you get when requesting via `HEAD` vs `GET` ?

[2016-03-13 09:45] continuata commented on #66
they are meant to be the same

http://stackoverflow.com/questions/3854842/content-length-header-with-head-requests

but content length isnt always implemented in the HEAD response (as in AWS Signed links) ... so this is not a bug with mt-downloader, it's S3's fault; but we need a workaround that allows for this issue otherwise signed files can't be downloaded from S3 using mt-downloader. (that's p

[2016-03-13 10:05] tusharmath commented on #66
AGREE.

Some changes might be required in the current implementation.

**Current Approach**
1. make HEAD request, parse content-length
2. divide content-length by thread-count and make multiple http requests.

**New Approach**
1. Directly make the HTTP request with the provided HTTP method.
2. Parse headers for content-length
    a. IF found: create new threads, auto destruct the first thread once

[2016-03-13 13:54] continuata commented on #66
wouldn't it be easier to just do
1. make GET request, parse content-length
2. cancel GET request before downloading any data
3. divide content-length by thread-count ... etc

[2016-03-13 19:23] tusharmath commented on #66
Why cancel? It would be inefficient to destroy an already created connection and then create another.

[2016-03-13 19:37] tusharmath commented on #66
Just to solve your problem. Would you mind pasting the Headers of both the HEAD and GET responses?

[2016-03-13 20:12] continuata commented on #66
Yeah good point ... I was just being lazy ;-)

Here are the headers. There's a 403 (Forbidden) error on the HEAD request.

<img width="740" alt="screen shot 2016-03-13 at 20 10 11" src="https://cloud.githubusercontent.com/assets/1593397/13731020/b8b0332c-e957-11e5-90ce-f626a99d5444.png">
<img width="737" alt="screen shot 2016-03-13 at 20 09 51" src="https://cloud.githubusercontent.com/assets/15933

[2016-03-14 04:24] tusharmath commented on #66
To solve your problem temporarily you can set the threadCount to 1 if content-length is not available. The permanent solution would be to not make HEAD requests ever instead dynamically decide after making the get request.

[2016-03-24 10:58] #66 closed

[2016-04-13 13:03] philipgiuliani opened #82 "Make it possible to customize mtd extension."
Would be great if we would be able to customize the mtd extension.

[2016-04-13 15:06] tusharmath commented on #82
Why would you need to customize the extension?

[2016-04-13 15:21] philipgiuliani commented on #82
Would just be a cool feature for this great library. Chrome is also using .crdownload for example.

[2016-04-14 07:19] tusharmath commented on #82
A pull request will be welcomed.

[2016-04-26 16:08] continuata opened #83 "resuming download with expired URL"
some URLs have an expiry (e.g. AWS S3 signed links).
When you resume download it will resume using the original URL set in the `mtd`
(which may have expired)

Is it possible to update the URL before resuming?

[2016-04-26 18:14] tusharmath commented on #83
@continuata Not possible as of now, but sounds like a really important feature.

[2016-04-26 18:17] tusharmath commented on #83
I think it's time to decompose this monolithic module into smaller chunks. That way it would be much easier for someone to just select different components and build their own downloader.

[2016-05-17 13:01] continuata commented on #83
any ideas how I would get this working?
Trying to figure out this process.

[2016-05-17 13:17] tusharmath commented on #83
I think for now you can pass `this.options` here — https://github.com/tusharmath/Multi-threaded-downloader/blob/master/src%2Fmtd.js#L37

And merge it with `loadedMETA`.

[2016-05-17 13:35] continuata commented on #83
so you'd do something like

[code]

and then in `downloadMTD.js` do:
[code]
?

Also we'd need to take out the `.skipWhile((x) => x.url)` in resumeDownload
Would that work?

(still a bit confused how this all hangs together ... e.g. where does it choose to use resumeDownload or newDownload?)

[2016-05-17 14:35] tusharmath commented on #83
I think something like this should be better —

[code]
`resumeDownload` is only used by cli, so that needn't be touched.

[2016-05-18 08:42] continuata commented on #83
hmmm ... it just starts the download from the beginning each time, it doesn't resume.
Let me create a PR for this so you can see what I'm doing

[2016-05-23 07:48] continuata opened #88 "file-size not working with S3 signed links"
seems we have some regression here ... when I test downloading a signed S3 link it can download but totalBytes is null as is all the threads.
Has something changed since our improvements?

I'll post a signed S3 url for testing. We probably need a test in for this.

[2016-05-23 08:47] tusharmath commented on #88
Can you add a test to demo the issue?

[2016-05-24 05:57] pavanbuzz opened #89 "Not able to download files from CDN"
Hi,

It is having some issue while trying to download a CDN url, "http://dt67.energycdn.com/zip/2nxVlNhjAUiZ3Wj76L1z4g/1464673445/3460716/27f7c553f3e79ce9b7f5a138d21f28bc195ee842".

It just creates "INIT" event, and stops.

[2016-05-24 07:21] continuata commented on #88
Here try this ...
http://s3.amazonaws.com/continuata.connect/Connect_3.2.4.dmg?AWSAccessKeyId=AKIAINMRPVWBZGXJIQUQ&Expires=1464136959&Signature=i0uZz3F8cgabShnxA22ppPrhi0Y%3D

It actually downloads the file, but you can't calculate progress because there's no `totalBytes` and the threads are all null.

[2016-05-24 07:24] continuata commented on #89
in your packages.json what version of mt-downloader does it say you're using?
I think npm may be one version behind the github

[2016-05-24 08:17] pavanbuzz commented on #89
Current version is 1.4.1

[2016-05-24 10:42] continuata commented on #89
it should be 1.4.2 ... try forcing the update
[code]

[2016-05-24 10:43] continuata commented on #89
it should download the file, but it's likely that the stats reporting will still be wrong (totalBytes and threads will likely be null) ... currently working on this bug in issue #88

[2016-05-24 11:56] tusharmath commented on #89
@pavanbuzz @continuata The latest version is `1.5.1`
[code]

[2016-05-24 11:59] tusharmath commented on #88
@continuata I was able to download the file successfully with the file correct filesize. Can you check with the `latest` version?

[2016-05-24 12:00] continuata commented on #89
oh ok, I'm a bit behind then ;-) ... maybe it's just the badge then on the github page now.

[2016-05-24 12:02] tusharmath commented on #89
@continuata That just represents the stable version.

[2016-05-24 12:07] tusharmath commented on #88
Oops, I meant `next` :D
You need to do — `npm i mt-downloader@next` to get version `1.5`

[2016-05-24 12:08] pavanbuzz commented on #89
Am using the latest version which is 1.5.1. Am unable to download it still. Are you guys able to download that link using mt-downloader?

[2016-05-24 12:09] tusharmath commented on #89
@pavanbuzz Please install via `npm i mt-downloader@next` and then try.

[2016-05-24 12:10] tusharmath commented on #89
@pavanbuzz Yes I was able to download your link.

[2016-05-24 12:26] tusharmath commented on #83
It doesn't make sense to handle all the cases in this module. It's better to expose some additional internal APIs to write your own custom logic or even better, create plugins on top of it.

[2016-05-24 13:05] pavanbuzz commented on #89
@tusharmath I tried to print the events and the following was only obtained,

[code]
The following is the piece of code that I have,

`var createDownload = require('mt-downloader').createDownload;
var url = 'https://upload.wikimedia.org/wikipedia/commons/4/47/Gadget_the_pug_expressive_eyes.jpg';
url='https://dt67.energycdn.com/torrentdl/qipDOkCLIaNuZBM4uIaLHQ/1464674288/3460716/27f7c553f3e79ce9b7f

[2016-05-24 14:22] tusharmath commented on #89
@pavanbuzz take a look at this code here —

**Current**
[code]
This is returning a promise and you need to add an error handler such as —

[code]

or use `done()` as follows

[code]

[2016-05-24 15:01] pavanbuzz commented on #89
@tusharmath  It works.. thanks a lot mate.. However, what other options can we pass to createDownload() ?

[2016-05-24 15:29] tusharmath commented on #89
Apart from the ones that are documented in the README, you can pass anything that the [request](https://www.npmjs.com/package/request) module can accept.

[2016-05-24 15:29] #89 closed

[2016-05-24 15:39] pavanbuzz commented on #89
Thanks a lot for the clarification.

[2016-05-29 04:54] tusharmath commented on #88
@continuata I tried the above url, the download wouldn't start because the file size could not be determined. An exception is automatically thrown —
[code]

[2016-05-29 18:30] cyrilluce opened #92 "file descriptor didn't close when download finished"
file descriptor didn't close when download finished, which block other modifications.
version: 1.4.1

[2016-05-31 04:55] tusharmath commented on #92
Pill request welcome.

[2016-06-05 16:04] continuata opened #97 "bin/mtd.js won't run"
I'm getting an error using ES6 style imports in the mtd.js implementation.
[code]
I've got Node version v6.2.1 installed.
Any ideas?

[2016-06-05 17:40] tusharmath commented on #97
@continuata Issue was fixed here — https://github.com/tusharmath/Multi-threaded-downloader/commit/84fceee6

Please use version `1.5.2`

[2016-06-05 17:40] #97 closed

[2016-06-15 11:32] continuata commented on #88
I got it working ... seems the URL I posted had expired.

However I just tried to download the latest mt-downloader, and now it won't install via npm (can't install the standard version either)
Doesn't seem to be running the build process, and results in an error when it tries to chmod anything in the .dist folder (which doesn't exist)
Any ideas?

[2016-06-15 12:14] tusharmath commented on #88
@continuata Thanks for reporting 👍 I fixed the issue here —
https://github.com/tusharmath/Multi-threaded-downloader/pull/99

Its difficult to test if the package got published correctly.

[2016-06-15 12:41] continuata commented on #88
ok for some reason this just stopped working again ... I haven't changed any code and totalBytes is 0 again. The file is downloading, but progress is broken. It was working 30 minutes ago.

[2016-06-15 12:44] continuata commented on #88
... and it's working again :-/

Maybe it was something in my editor cache.
I'll keep an eye on it.

[2016-07-05 18:43] #88 closed

[2016-07-05 18:46] tusharmath commented on #37
`Completion()` function is now available.

[2016-07-05 18:46] #37 closed

[2016-07-05 18:49] tusharmath commented on #20
Since `response$` is now available its possible to destroy HTTP requests.

[2016-07-05 18:49] #20 closed

[2016-07-05 18:54] tusharmath commented on #92
@cyrilluce With the new `2.0` release file descriptors will be accessible to the consumer, thus making it the consumer's responsibility to make sure they are closed.

[2016-07-05 18:54] #92 closed

[2016-07-07 01:51] ohenepee opened #103 "HTTP Proxy Option"
Is there any way I can use a proxy?

[2016-07-08 10:58] tusharmath commented on #103
All the params are by default passed to the [request](https://www.npmjs.com/package/request#proxies) module while making the HTTP requests.

Could you try —
[code]

[2016-07-08 11:13] ohenepee commented on #103
Thanks!

[2016-07-08 11:13] #103 closed

[2016-07-08 11:33] ohenepee commented on #20
How exactly is this supposed to be used?

    Expose response$ externally for manually destroying

[2016-07-08 13:12] tusharmath commented on #20
@ohenepee Here is an example for version 2.0 —

[code]

PS: Install version 2.0 — `npm i mt-downloader@next`

[2016-07-09 05:59] ohenepee commented on #20
You're just awesome!

[2016-07-09 12:32] #29 closed

[2016-07-09 12:33] #22 closed

[2016-07-09 14:52] tusharmath commented on #83
@continuata Had to re-write the module for this feature :) Finally it should be available on `next` tag in a few minutes.

[2016-07-09 19:16] #83 closed

[2016-07-15 06:04] tusharmath opened #107 "CLI opens file in mode:w twice"

[2016-07-15 06:05] tusharmath opened #108 "Download Fails"
[code]

[2016-07-15 06:52] #107 closed

[2016-07-15 06:52] #108 closed

[2016-07-16 22:34] continuata opened #110 "Failure Error: File size could not be determined"
If I run the example:-
[code]

I get
[code]

I tried with another file and got the same error too (this is with the latest version)

[2016-07-17 04:25] tusharmath commented on #110
What is the version?

[2016-07-17 07:55] continuata commented on #110
v2.2.1

[2016-07-18 17:09] tusharmath commented on #110
The response is chunked. Which is not supported as of now.

[2016-07-18 17:22] continuata commented on #110
but this is the example Url given in the help file ... this worked on the previous version of mtd ... how easy would chunked responses be to support?

[2016-07-18 17:31] tusharmath commented on #110
@continuata Its easily doable. We need to make sure only one thread is created and then make a range request with the header `bytes=1000-` (without an end).

[2016-07-18 17:35] continuata commented on #110
oh cool ... is that in the code where we get the file size from the content and then destroy the connection? Will take a peek tonight

[2016-08-03 18:32] marianvlad opened #113 "Error on CLI"
I use nodejs 5.11.0 and I have this error in terminal.

[code]

[2016-08-03 18:40] marianvlad commented on #113
Old nodejs version. Solved.

[2016-08-03 18:40] #113 closed

[2016-08-18 23:10] continuata opened #121 "simple example on how to download/pause/resume a chunked download"
It would be great to see how to make a function that could be called like this
[code]
where, if the file has already started downloading it refreshes the url (to deal with time-limited links) and resumes downloading.
And it would also help to see how to pause the download using the API
[code]
This would need to work for AWS Signed links (e.g. time limited) and chunked files that may not respond wi

[2016-12-20 09:27] renjithaccel opened #154 "Error: The .mtd file is corrupt. Start a new download??"
Hi,

I'm getting this error while running the sample download scripts. I saw an .mtd file is creating on my destination directory. After few seconds it is failing. The error is

Error: The .mtd file is corrupt. Start a new download.
    at module.exports (/home/testmachine/node_modules/mt-downloader/lib/Exceptions.js:83:33)
    at /home/testmachine/node_modules/mt-downloader/lib/core/DownloadReade

[2016-12-20 09:51] tusharmath commented on #154
@renjithaccel I am not sure if you are on the right version. Current stable version is `2.2.2`

[2016-12-22 06:47] renjithaccel commented on #154
Hi,

I have upgraded to v​2.2.2​
​
​. Tried to run the sample code given ​in here
<https://www.npmjs.com/package/mt-downloader#new-downloads>.

var downloader = createDownload({path, url});

TypeError: createDownload is not a function
    at Object.<anonymous> (/home/testPc/Samples/down.js:8:18)
    at Module._compile (module.js:571:32)
    at Object.Module._extensions..js (module.js:580:10)
    a

[2016-12-24 12:17] tusharmath commented on #154
@renjithaccel There was some issue with npm's website, it never gets the latest README file. You must checkout the documentation here — https://github.com/tusharmath/Multi-threaded-downloader

[2016-12-24 12:17] #154 closed

[2016-12-31 04:28] Spitzbub opened #157 "Calling DownloadFromMTDFile on a file already complete results in error"
I have code that works fine except when resuming a download where all the file is downloaded. I.e. I see something like this returned from the observable returned by DownloadFromMTDFile:

[code]

My code is (I think) relatively simple:

[code]

I assume that the problem is that the DownloadFromMTDFile tries to return/process HTTP responses, however, there are none (and should be none). I'll take a

[2017-01-01 06:48] Spitzbub commented on #157
This seems to fix the issue:

[code]

[2017-02-25 22:07] pantchox opened #165 "basic auth in options?"
how do you implement this in mtd?

thanks.

[2017-02-26 11:13] tusharmath commented on #165
You can pass the auth params to the `request()` function — https://github.com/tusharmath/Multi-threaded-downloader#HTTP.request

[2017-02-26 11:13] #165 closed

[2017-02-26 11:28] pantchox commented on #165
how?
the master branch does README not have clear examples on how to use MTD, which makes it very unattractive to use.

[2017-02-26 11:34] tusharmath commented on #165
Sorry if the README isn't clear. I'd be happy to merge a PR if you think it can be made better.

Internally mtd use the npm's `request` module for making HTTP requests. So to create a new HTTP request you could do something like —

[code]

[2017-02-27 09:26] pantchox commented on #165
Thanks.
I mean that in the other branches (which i have no idea which one is the most update one) the README is more clear and with examples of the options.

Thanks for MTD its really good!

[2017-02-28 02:12] cecilpeng opened #166 "How can I do to get the file fast"
If I can change the config: range or meteWrite.
I tested to download 60M file.

Chrome: 1min.
Here: 7min.

[2017-02-28 03:17] tusharmath commented on #165
@pantchox `master` is the most updated branch right now. I'd be more than happy to fix the documentation.

[2017-02-28 06:01] tusharmath commented on #166
I am not sure why it's slower than chrome. Some more detail might help here.

[2017-02-28 06:18] cecilpeng commented on #166
I am unfamiliar with Rxjs, so i spent much time to learn.
I am confused that it logs double event four request. Maybe some bug in the module of http request.

This is my code, just copied from TestHelper.js

[code]

Test code:
[code]

I injected console.log into module request. Logs below:
[code]

[2017-02-28 18:28] tusharmath commented on #166
@cecilpeng I think that's happening because the stream is not multicasted. Checkout http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#instance-method-share to understand multicasting.

[2017-03-21 10:53] ohenepee commented on #121
A whole year have passed since I last tried using this and couldn't... Still no simple example usage.. smh

[2017-03-26 22:11] pantchox commented on #165
A simple basic usage example such as requiring the module and instantiating the class with the download options and events (start, pause, resume, finish) would make it more clear, its nice that the library looks very maintained and all the objects are being described what they do and all BUT there is NON of any examples of simple usage, digging in other branches/tags shows examples but how do i kn

[2017-05-29 14:58] greenkeeper[bot] opened #184 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-07-09 09:11] partakit opened #186 "Resume does not work in Windows"
when i resume a download, at the 99.9% get this error:
Error: EPERM: operation not permitted, ftruncate

do u know what is the problem? how can i fix this !?!?
my env in windows 10 , node v6.11.0

[2017-07-09 12:36] tusharmath commented on #186
Hey @partakit thanks for reporting the issue!
Unfortunately I don't have windows so I won't be able to reproduce it my end. I think the issue might be in the node's `fs` modules something that should have after #65.

[2017-07-11 12:56] partakit opened #187 "Problem With Files Downloaded In Windows"
I am developing an app with electron. this app downloading some file with mt-downloader@0.2.10.
When file get downloaded In windows  and app is still running, windows can not open the file( this will happen only in windows, we haven't encountered any issue in Mac OSx).
once app closed, windows is able to open the file !

[2017-07-16 05:30] tusharmath commented on #187
Is this issue related to #186

[2017-08-13 00:22] benhaben opened #188 "download m4a file has issue in windows"
i use mtd in windows to download m4a music. but the file md5 check failure.
![image](https://user-images.githubusercontent.com/5353098/29245083-7e40cc6a-8000-11e7-93b2-ad24ec2424f1.png)

![image](https://user-images.githubusercontent.com/5353098/29245091-9487b45c-8000-11e7-87da-e562391301e0.png)

[2017-08-14 07:00] ArkeologeN opened #189 "Implementing ProgressBar with progress update"
I've the following code to download file:
[code]

However, I'm not sure how to use `ProgressBar` with this. I tried to do:
[code]

but this throws:
[code]

Do you have an idea or any updated guide? thanks!

[2017-08-14 07:42] ArkeologeN commented on #189
PS: I solved the above problem. It seems `.subscribe` on `Observable` doesn't return observable. Anyway, now it shows some other exception.
[code]

Do you have an idea? Also, I asked `mt` to download `eight (8)` files, however, it downloads them one by one and not in parallel (async). And thanks for the nice library! cheers!

[2017-08-18 02:53] marianvlad opened #190 "Complete and exit long after"
Why it takes to muck to exit after `Complete` messages?

[2017-08-31 22:53] eggerand13 commented on #121
I just found this and while I think that this might interesting I have no idea how to do anything with this module because there is no example whatsoever and it's quite complex to wrap my head around it.

[2018-02-01 12:35] kumarisoni opened #191 "Save downloaded file in HTML5 Filesystem"
I want to save the files in HTML5 File System but not able to do it, I am getting error:

`<Error: Invalid File Path>`

[2018-02-03 03:22] tusharmath commented on #191
Its not usable in the browser out of the box. May be you could try using
browserify.
On Thu, 1 Feb 2018 at 6:05 PM, kumari soni <notifications@github.com> wrote:

--
Regards,
Tushar Mathur.
www.tusharm.com

[2018-03-18 18:25] LeoMartinDev commented on #110
Any update on that ?

[2018-04-27 12:09] hgouveia commented on #187
Same issue happening to me, im working on node-webkit, on windows

[2018-05-15 07:53] motin commented on #121
Same here. There is a wrapper at https://github.com/leeroybrun/node-mt-files-downloader which simplifies things and has examples, but it also mentions that it needs refactoring to work with the latest mt-downloader versions. (A more recent fork of the wrapper is found here https://github.com/Fer0x/node-mt-files-downloader)

The closest available in this lib seem to be the `createDownload` function

[2018-07-07 19:45] ohenepee opened #194 "Example Usage on ReadMe.md"
I thought adding an example usage _(e.g. downloading the Node Runtime from nodejs.org)_ was essential to every library... b'coz I can't find any example of how to use this seemingly awesome library.

[2018-07-14 04:12] minhnhut commented on #194
Agree, I'm still trying to figure out how to use this library properly in my system. I end up with using zeltice-mt-downloader- a fork of this library.

[2018-09-05 10:56] deeptigoyal01 opened #195 "createDownload is not a function....."
I added the package.
and tried below given code:-

var createDownload = require('mt-downloader').createDownload
var url = 'https://upload.wikimedia.org/wikipedia/commons/4/47/Gadget_the_pug_expressive_eyes.jpg';
var path = '/Users/tusharmathur/Desktop/temp/Gadget_the_pug_expressive_eyes.jpg';
var downloader = createDownload({path, url});
downloader.start() // returns an observable

it is returning

[2019-01-15 12:49] ProtocolNebula commented on #194
I need a nice example, I'm using this code: https://github.com/tusharmath/Multi-threaded-downloader/issues/166#issuecomment-282952823 (modified to add my progress bar and other things), but its too much ugly and hard to read/use.

It was hard to find and use, a good example will be great.

[2019-01-15 12:52] ProtocolNebula opened #196 "Can't stop the download"
Hi.
I'm trying to stop a download like #33 example but it don't work.

I get no error, simply don't do nothing.

The related part to this of my code:

[code]

Is there a method to catch the **ERROR CONNECTION RESET** and change the **timeout**? It would solve my problem instead use this.

Thanks.

[2019-01-15 13:40] minhnhut commented on #194
After investigating. I still feel impossible to easily integrate the library to my project. So I end up wrote my own downloader solution. I don't mean to advertisement. If you don't mind. You can try my [rapid-downloader](https://github.com/minhnhut/rapid-downloader) package, it is available on NPM.

[2019-01-16 09:04] ProtocolNebula commented on #194
Thanks, I was just about to make my own downloader or at least a wrapper (in fact, I have a wrapper with this project to add missing elements and make it easy usable).

I will take a look to your project, I hope it do all I need or almost.

[2019-02-26 08:44] agarwalkartik commented on #103
Hey, is the method ``` createDownload() ``` now deprecated ? cannot find it in the docs. I need to use socks 5 proxy connection to download files

[2019-05-22 15:58] ghost commented on #188
This issue is crippling my project... The MD5 checks are not matching...

[2020-03-11 09:59] muscaiu commented on #194
It's the first node library that i don't know how to use lol.
Weird documentation dude.
Write examples.

[2020-05-11 22:26] agnijalam commented on #188
@benhaben , did you find any solution for this .. I too facing the same issue intermittently with any file formats.. I added retry mechanism to re download the file from where it left( in the file remaining is file) .. but looking for a better approach.

[2020-12-29 17:56] cyqsimon commented on #110
Any updates on this? This is a pretty big make-or-break feature for my use case 😞

[2021-09-09 00:30] mattbishop opened #197 "Switch from npm/request to something supported (node-fetch?)"
The request package has been deprecated (see the big red warning sign here: https://www.npmjs.com/package/request)

Perhaps node-fetch? https://www.npmjs.com/package/node-fetch

[2022-03-17 13:52] scott-morris commented on #197
As of Node 17.5.0, they have [added experimental `fetch()`](https://github.com/nodejs/node/releases/tag/v17.5.0) support into Node core based on their [Udici implementation](https://undici.nodejs.org/#/). If someone plans to update this before it becomes mainstream, I'd suggest using udici over node-fetch for that reason.

[2022-11-24 06:11] ramazansancar opened #198 "Live Version Here"
https://github.com/FaisalUmair/mt-files-downloader @FaisalUmair